/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 5rem;
  font-family: 'Anton', sans-serif;
}
h2 {
  font-size: 4rem;
  padding: 10px;
  font-family: 'Anton', sans-serif;
}
h3 {
  font-family: 'Anton', sans-serif;
}
p {
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
label {
  font-family: 'Roboto', sans-serif;
}
html,
body {
  height: 100%;
  position: relative;
}
.container-home,
.container-about,
.container-reviews,
.container-contact {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 250px;
}
.wrapper.fullscreen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}
.wrapper {
  position: relative;
}
.wrapper.intro-color {
  background-color: #1F4488;
}
.wrapper > .inner-text {
  padding: 6rem 6rem 4rem 6rem;
  max-width: 100%;
  width: 75rem;
  color: #fff;
}
#introduction > div > h1 {
  margin: 0 0 1.5rem 0;
}
#introduction > div > p {
  margin: 0 0 2.5rem 0;
}
#introduction > div > ul > li > a {
  border: solid 2px;
  border-color: #c7c7c7;
  border-radius: 8px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  height: calc(4rem + 2px);
  letter-spacing: 0.2rem;
  line-height: 4rem;
  outline: 0;
  padding: 0 1.75rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
}
.wrapper.feature-color {
  background-color: #fff;
}
#features > section > img {
  background-position: center center;
  background-size: cover;
  border-radius: 0;
  display: block;
  position: relative;
  width: 36rem;
  height: 29rem;
}
.mvps > section {
  display: flex;
  flex-direction: row;
  min-height: 22.5rem;
}
.mvps > section > .feature {
  padding: 8rem 6rem 4rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spotlights > section > .feature > .inner-text {
  opacity: 1;
}
#feature2 {
  background-color: #f2f2f2;
}
#feature3 {
  background-color: #e6e6e6;
}
#features > section > div > div > h2 {
  line-height: 1.5rem;
  margin: 0 0 2.5rem 0;
  padding: 0 !important;
}
#features > section > div > div > p {
  margin: 0 0 2.5rem 0;
}
#features > section > div > div > ul > li > a {
  border: solid 2px;
  border-color: black;
  border-radius: 8px;
  background-color: transparent;
  color: black;
  cursor: pointer;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  height: calc(4rem + 2px);
  letter-spacing: 0.2rem;
  line-height: 4rem;
  outline: 0;
  padding: 0 1.75rem;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  display: inline-block;
}
.contact {
  width: 100%;
  padding: 50px;
  background: #C61632;
  color: #fff;
  height: 100vh;
}
@media (max-width: 800px) {
  .contact {
    height: auto;
  }
}
.contact .contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
@media (max-width: 1100px) {
  .contact .contact-container {
    padding-top: 0;
  }
}
.contact .contact-container .contact-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact .contact-container .contact-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
}
@media (max-width: 1100px) {
  .contact .contact-container .contact-bottom {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact .contact-container form {
  width: 40%;
}
@media (max-width: 1100px) {
  .contact .contact-container form {
    width: 100%;
  }
}
.contact .contact-container p {
  text-align: center;
  padding: 20px 0;
}
.contact .contact-container h2 {
  font-size: 7rem;
}
.contact .contact-container hr {
  width: 80%;
}
.contact .name-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0;
}
@media (max-width: 500px) {
  .contact .name-email {
    display: flex;
    flex-direction: column;
  }
}
.contact .name-email .name,
.contact .name-email .email {
  display: flex;
  flex-direction: column;
  width: 48%;
}
@media (max-width: 500px) {
  .contact .name-email .name,
  .contact .name-email .email {
    width: 100%;
    text-align: center;
  }
}
.contact label {
  padding: 15px 15px 15px 0;
  font-size: 2rem;
}
@media (max-width: 500px) {
  .contact label {
    font-size: 3rem;
  }
}
.contact input {
  padding: 15px 10px;
  background: none;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  font-size: 2rem;
  color: #fff;
}
.contact .message {
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  .contact .message {
    text-align: center;
  }
}
.contact .message textarea {
  height: 300px;
  background: none;
  border: 2px solid #c7c7c7;
  border-radius: 8px;
  padding: 15px 10px;
  font-size: 3rem;
  color: #fff;
}
.contact .button {
  margin-top: 30px;
  text-align: center;
}
@media (max-width: 500px) {
  .contact .button {
    width: 100%;
  }
}
.contact .button input {
  color: #fff;
  font-size: 2rem;
  padding: 20px 40px;
  cursor: pointer;
}
@media (max-width: 500px) {
  .contact .button input {
    width: 100%;
  }
}
.contact address {
  width: 25%;
  padding: 60px 0 0;
  margin-top: 35px;
}
@media (max-width: 1100px) {
  .contact address {
    width: 100%;
  }
}
.contact address .location,
.contact address .phone-number,
.contact address .email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}
.contact address .fas {
  font-size: 3rem;
}
.contact address hr {
  width: 100%;
}
.top-bar {
  padding: 70px;
  background: #C61632;
}
.testimonials {
  width: 100%;
  text-align: center;
}
.testimonials h1 {
  margin: auto;
  margin-top: 60px;
  color: #292929;
}
.testimonials hr {
  margin-bottom: 60px;
  width: 10%;
  border: 2px solid #C61632;
}
@media (max-width: 500px) {
  .testimonials hr {
    width: 30%;
  }
}
.testimonials .carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials .carousel-container .circle-navigation {
  margin: 20px 0 50px;
}
.testimonials .carousel-container .circle-navigation i {
  margin: 0 5px;
  color: #00000071;
}
.carousel-thing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.carousel-thing .arrow {
  font-size: 5rem;
  margin: 0 50px;
  color: #292929;
}
.carousel-thing .main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.carousel-thing .main-content img {
  width: 170px;
  margin-bottom: 60px;
  border-radius: 100px;
}
.carousel-thing .main-content p {
  margin: 30px 0;
  color: #a7a7a7;
}
.carousel-thing .main-content p span {
  color: #C61632;
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
.cta h3 {
  font-size: 3rem;
}
.cta button {
  margin: 20px 0;
  background: #C61632;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  padding: 20px 40px;
  cursor: pointer;
}
#carouselExampleIndicators .fas {
  font-size: 4rem;
  color: #C61632;
}
#carouselExampleIndicators .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #C61632;
  opacity: 0.3;
}
#carouselExampleIndicators .carousel-indicators .active {
  opacity: 1;
}
.top-bar {
  padding: 70px;
  background: #1F4488;
}
.wrapper.about-color {
  background-color: #fff;
}
#about-us > div {
  display: flex;
  flex-direction: column;
  margin: auto;
}
#about-us > div > h1 {
  text-align: center;
  color: black;
}
#about-us > div > h2 {
  text-align: center;
  color: black;
  margin-top: 25px;
}
.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px -10%;
  padding: 0 20px 25px;
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: #1F4488;
  position: relative;
  height: 75px;
  overflow: hidden;
  box-shadow: 2px 2px 2px lightgrey;
}
#about-us > div > div {
  margin-top: 20px;
}
#about-us > div > div > div > h2 {
  text-align: center;
}
.stats section:nth-child(1n) {
  border-left: solid 1px rgba(255, 255, 255, 0.15);
}
.stats-open {
  height: 350px;
}
.box {
  width: 238px;
  height: 180px;
  box-sizing: content-box;
  padding: 22px;
  border: 1px solid #fff;
  margin: 32px 15px;
  background: transparent;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
#about-us > div > div > div > div > div > div > div.box > h3 {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}
#about-us > div > div > div > div > div > div > div.box > p {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}
#about-us > div > div > div > i {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  transform: translate(-50%);
}
/* navbar */
#navbar {
  padding: 3.5rem 3.5rem 0.7rem 3.5rem;
  background: #0F6DB3;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  width: 20rem;
  z-index: 10000;
}
@media (max-width: 800px) {
  #navbar {
    height: auto;
    width: 100%;
    padding: 0;
  }
}
#navbar > .inner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0);
  min-height: 100%;
  opacity: 1;
  width: 100%;
}
#navbar nav > ul {
  list-style: none;
  padding: 0;
}
@media (max-width: 800px) {
  #navbar nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: auto;
  }
}
@media (max-width: 500px) {
  #navbar nav > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#navbar nav > ul > li {
  transform: translateY(0);
  margin: 1rem 0 0 0;
  opacity: 1;
  padding: 0;
  position: relative;
}
@media (max-width: 800px) {
  #navbar nav > ul > li {
    width: 25%;
    margin: 0;
    padding: 14px 0;
  }
}
@media (max-width: 500px) {
  #navbar nav > ul > li {
    width: 100%;
    padding: 0;
  }
}
#navbar nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translateY(0);
  min-height: 100%;
  opacity: 1;
  width: 100%;
  border: 0;
  color: #fff;
  display: block;
  font-size: 1.6rem;
  font-family: 'Anton', sans-serif;
  font-weight: normal;
  letter-spacing: 0.2rem;
  line-height: 1.75;
  outline: 0;
  padding: 1.2rem 0;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  #navbar nav a {
    padding: 20px 0;
  }
}
#navbar nav a:hover {
  transform: scale(1.3);
  color: orange;
  animation-name: colorChange;
  animation-duration: 0.7s;
}
@keyframes colorChange {
  from {
    color: #fff;
  }
  to {
    color: orange;
  }
}
#navbar + #wrapper {
  margin-left: 20rem;
}
@media (max-width: 800px) {
  #navbar + #wrapper {
    margin-left: 0;
    margin-top: 70px;
  }
}
.dropdown .dropdown-button {
  display: none;
}
@media (max-width: 500px) {
  .dropdown .dropdown-button {
    display: block;
    cursor: pointer;
    padding: 20px;
  }
}
.dropdown .dropdown-button .fas {
  font-size: 4rem;
  color: #fff;
}
@media (max-width: 500px) {
  .dropdown .dropdown-content {
    overflow: hidden;
    height: 0;
  }
}
@media (max-width: 500px) {
  .dropdown .toggle-content {
    display: block;
  }
}
.shrink:hover {
  transform: scale(0.8);
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  background: #062F4E;
}
footer .social-icons {
  display: flex;
  padding: 40px;
  margin-left: 20rem;
}
@media (max-width: 800px) {
  footer .social-icons {
    margin-left: 0;
  }
}
footer .social-icons li {
  margin: 0 30px;
  font-size: 2rem;
}
footer .social-icons li .fab {
  text-decoration: none;
  color: #0F6DB3;
}
footer p {
  color: #fff;
  font-size: 1rem;
  margin-left: 20rem;
}
@media (max-width: 800px) {
  footer p {
    margin-left: 0;
  }
}
