
.wrapper.about-color {
    background-color: @intro;
}

#about-us > div > h1 {
    text-align: center;
}

#about-us > div > div > h2 {
    text-align: center;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px rgba(255, 255, 255, 0.15);
    background: rgba(255, 255, 255, 0.05);
}

.stats section {
    padding: 3rem 3rem 3rem 3rem;
    width: 50%;
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    position: relative;
}

.stats section:nth-child(1n) {
    border-left: solid 1px rgba(255, 255, 255, 0.15);
}

#about-us > div > div > section.stats-header {
    position: relative;
    padding: 0 !important;
    width: 100% !important;
    border-top: 0 !important;
    border-left: 0 !important;
}

#about-us > div > div > section.stats-header > h2 {
    text-align: center;
}

#about-us > div > div > section > h3 {
    text-align: center;
    font-size: 2rem;   
}

#about-us > div > div > section.jp-img {
    border-left: 0 !important;
}

#about-us > div > div > section.jp-1 {
    border-left: 0 !important;
}

#about-us > div > div > section.jp-2 {
    border-left: 0 !important;
}

#about-us > div > div > section.jp-3 {
    border-left: 0 !important;
}

