.top-bar {
    padding: 70px;
    background: @intro;
}

.wrapper.about-color {
    background-color: @main-font;
}

#about-us > div {
    display: flex;
    flex-direction: column;
    margin: auto;
}

#about-us > div > h1 {
    text-align: center;
    color: @feature-button;
}

#about-us > div > h2 {
    text-align: center;
    color: @feature-button;
    margin-top: 25px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px -10%;
    padding: 0 20px 25px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: @intro;
    position: relative;
    height: 75px;
    overflow: hidden;
    box-shadow: 2px 2px 2px lightgrey;
}

#about-us > div > div {
    margin-top: 20px;
}

#about-us > div > div > div > h2 {
    text-align: center;
}

.stats section:nth-child(1n) {
    border-left: solid 1px rgba(255, 255, 255, 0.15);
}


.stats-open {
    height: 350px;
}

.box {
    width: 238px;
    height: 180px;
    box-sizing: content-box;
    padding: 22px;
    border: 1px solid @white;
	margin: 32px 15px;
    background: transparent;	
}

.row {
	display: flex;
	flex-direction: row;
  }
  
  .column {
	display: flex;
	flex-direction: column;
  }

  #about-us > div > div > div > div > div > div > div.box > h3 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
  }

  #about-us > div > div > div > div > div > div > div.box > p {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
  }

  #about-us > div > div > div > i {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 20px;
    color: @main-font;
    cursor: pointer;
    transform: translate(-50%);
  }