.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    form {
        padding: 20px 200px;      
    }


    .name-email {
        display: flex;

        .email {
        
        }
    }


}