.wrapper.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.wrapper.intro-color {
    background-color: @intro;
}

.wrapper {
    position: relative;
}

.wrapper > .inner-text {
    padding: 6rem 6rem 4rem 6rem;
    max-width: 100%;
    width: 75rem;
    color: @main-font;
}

#introduction > div > h1 {
    margin: 0 0 1.5rem 0;
}

#introduction > div > p {
    margin: 0 0 2.5rem 0;
}

#introduction > div > ul > li > a {
    .button-style1;
    display: inline-block;
}
