.wrapper.fullscreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.wrapper.intro-color {
    background-color: @intro;
}

.wrapper {
    position: relative;
}

.wrapper > .inner-text {
    padding: 6rem 6rem 4rem 6rem;
    max-width: 100%;
    width: 75rem;
    color: @main-font;
}

#introduction > div > h1 {
    margin: 0 0 1.5rem 0;
}

#introduction > div > p {
    margin: 0 0 2.5rem 0;
}

#introduction > div > ul > li > a {
    .button-style1;
    display: inline-block;
}

.wrapper.feature-color {
    background-color: @white;
}

#features > section > img {
    background-position: center center;
    background-size: cover;
    border-radius: 0;
    display: block;
    position: relative;
    width: 31rem;
}

.mvps > section {
    display: flex;
    flex-direction: row;
    min-height: 22.5rem;
}

.mvps > section > .feature {
    padding: 8rem 6rem 4rem 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.spotlights > section > .feature > .inner-text {
    opacity: 1;
}

#feature2 {
    background-color: @feature2;
}

#feature3 {
    background-color: @feature3;
}

#features > section > div > div > h2 {
    line-height: 1.5rem;
    margin: 0 0 2.5rem 0;
    padding: 0 !important;
}

#features > section > div > div > p {
    margin: 0 0 2.5rem 0;
}

#features > section > div > div > ul > li > a {
    .button-style2;
    display: inline-block; 
}