/* navbar */

#navbar {
    padding: 3.5rem 3.5rem 0.7rem 3.5rem;
    background: #0F6DB3;
    cursor: default;
    height: 100vh;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    text-align: center;
    top: 0;
    width: 20rem;
    z-index: 10000;

    @media @tablet {
        height: auto;
        width: 100%;
        padding: 0;
    }
}

#navbar>.inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(0);
    min-height: 100%;
    opacity: 1;
    width: 100%;

}

#navbar nav>ul {
    list-style: none;
    padding: 0;

    @media @tablet {
        .flex();
        justify-content: space-around;
        width: 100%;
        margin: auto;
    }

    @media @mobile {
        .flex(column);
        justify-content: center;
        align-items: center;
    }
}

#navbar nav>ul>li {
    transform: translateY(0);
    margin: 1rem 0 0 0;
    opacity: 1;
    padding: 0;
    position: relative;

    @media @tablet {
        width: 25%;
        margin: 0;
        padding: 14px 0;
    }

    @media @mobile {
        width: 100%;
        padding: 0;
    }
}

#navbar nav a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(0);
    min-height: 100%;
    opacity: 1;
    width: 100%;
    border: 0;
    color: @white;
    display: block;
    font-size: 1.6rem;
    font-family: @header;
    font-weight: normal;
    letter-spacing: 0.20rem;
    line-height: 1.75;
    outline: 0;
    padding: 1.20rem 0;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;

    @media @mobile {
        padding: 20px 0;
    }
}

#navbar+#wrapper {
    margin-left: 20rem;

    @media @tablet {
        margin-left: 0;
        margin-top: 70px;
    }
}


// DropDown CSS
.dropdown {


    // Hides the hamburger icon until in mobile.
    .dropdown-button {
        display: none;


        @media @mobile {
            display: block;
            cursor: pointer;
            padding: 20px;
        }

        .fas {
            font-size: 4rem;
            color: @hamburger-button;
        }
    }

    .dropdown-content {

        @media @mobile {
            display: none;
        }
    }


    // Used with JS to toggle the nav items on and off
    .toggle-content {

        @media @mobile {
            display: block;
        }
    }

}