.top-bar {
    padding: 70px;
    background: @nba-red;
}

.testimonials {
    width: 100%;
    text-align: center;

    h1 {
        margin: auto;
        margin-top: 60px;
        color: @light-black;
    }

    hr {
        margin-bottom: 60px;
        width: 10%;
        border: 2px solid @nba-red;

        @media @mobile {
            width: 30%;
        }

    }

    .carousel-container {
        width: 100%;
        .flex(column);
       align-items: center;

       .circle-navigation {
           margin: 20px 0 50px;

           i {
               margin: 0 5px;
               color: #00000071;
           }
       }
    }
}


.carousel-thing {
    .flex();
    justify-content: center;
    align-items: center;
    width: 60%;

    .arrow {
        font-size: 5rem;
        margin: 0 50px;
        color: @light-black;
    }

    .main-content {
        .flex(column);
        align-items: center;
        text-align: center;

        img {
            width: 170px;
            margin-bottom: 60px;
            border-radius: 100px;
        }

        p {
            margin: 30px 0;
            color: rgb(167, 167, 167);

            span {
                color: @nba-red;
            }
            
        }
    }
}

.cta {
    .flex(column);
    align-items: center;

    margin: 100px 0;

    h3 {
        font-size: 3rem;
    }

    button {
        margin: 20px 0;
        background: @nba-red;
        border: none;
        border-radius: 10px;
        color: @main-font;
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        padding: 20px 40px;
        cursor: pointer;
    }
}

#carouselExampleIndicators{

    .fas {
        font-size: 4rem;
        color: @nba-red;
    }

    .carousel-indicators {

        li {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: @nba-red;
            opacity: 0.3;

        }

        .active {
            opacity: 1;
        }
    }
}