// Colors

// Pointers
@footer: @dark-blue;
@main-font: @white;
@nav-bar: @light-blue;
@social-icons: @light-blue;
@contact-form: @nba-red;





// Variables
@dark-blue: #062F4E;
@white: #fff;
@light-blue: #0F6DB3;
@nba-red: #C61632;