// Colors
    // Pointers
@footer: @dark-blue;
@main-font: @white;
@nav-bar: @light-blue;
@social-icons: @light-blue;
@contact-form: @nba-red;
@hamburger-button: @white;
@nav-hover: @orange;

@intro: @dark-royal;
@feature1: @white;
@feature2: @light-grey;
@feature3: @med-grey;

@feature-button: @black;

@invalid-state: @bright-red;
@valid-state: @green;

    // Variables
@dark-blue: #062F4E;
@white: #fff;
@opaque-white: rgba(255, 255, 255, 0.16);
@light-blue: #0F6DB3;
@nba-red: #C61632;
@dark-royal: #1F4488;
@light-grey: rgb(242, 242, 242);
@med-grey:  rgb(230, 230, 230);
@black: black;
@light-black: #292929;
@orange: #F7931E;
@green: #ADFF2F; 
@bright-red: rgb(255, 0, 43);


// Fonts
    //pointers
@header: @Anton;
@paragraph: @Roboto;


    // Vars
@Anton: 'Anton', sans-serif;
@Roboto: 'Roboto', sans-serif;


// Media Queries
@desktop: ~"(max-width: 1100px)";
@tablet: ~"(max-width: 800px)";
@mobile: ~"(max-width: 500px)";