// Colors

// Pointers
@footer: @dark-blue;
@main-font: @white;
@nav-bar: @light-blue;
@social-icons: @light-blue;
@intro: @dark-royal;




// Variables
@dark-blue: #062F4E;
@white: #fff;
@light-blue: #0F6DB3;
@dark-royal: #1F4488;